@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #34362b;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-primary: "Open Sans", sans-serif;
$family-secondary: "Lora", serif;
$family-sans-serif: "Open Sans", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

$desktop: 800px;
$widescreen: 800px;
$fullhd: 800px;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../bulma/bulma-0.8.2/bulma.sass";
